<launch>
 	<node pkg="rover_safeidea" type="rasp_master.py" name="rasp_master"  output="screen"/>
    <node pkg="rover_safeidea" type="beacon_scenario2.py" name="beacon"  output="screen"/>
    <node pkg="rover_safeidea" type="scenario_1.py" name="follower"  output="screen"/>
    <node pkg="rover_safeidea" type="rasp_god.py" name="rasp_god"  output="screen"/>
    <include file="$(find rover_safeidea)/launch/motor.launch"/>
</launch>
